.atm_emojis_main_container{
    position: relative;
    width: 100%;
    height : auto;
    z-index: 9;
}

.atm_emojis_open_menu{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.atm_emojis_menu{
    position: absolute;
    left: 0;
    bottom: 20px !important;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
.atm_emojis_menu span{ text-align: center;}

.atm_emojis_tabs{
    display: none;
    position:absolute;
    left:0;
    bottom: 20px;
    background-color:#fff;
    height:30px;
    overflow: hidden;
    width:242px;
    border: 1px solid #d0d0d0;
    border-bottom: none;
}
.atm_emojis_tabs * {text-align: center; line-height: 30px;}

.atm_emojis_tab,.atm_emojis_tab_close{
    width:30px;
    height: 30px;
    cursor:pointer;
}

.atm_emojis_container{
    display: none;
    position:absolute;
    left:0;
    bottom:-80px;
    background-color:#fff;
    height:100px;
    overflow-x: auto;
    width:242px;
    border: 1px solid #d0d0d0;
}
.atm_emojis_tab_close{float:right}
.atm_emojis_icon{ float: left; display: inline-block; padding: 2px !important; cursor: pointer}
.atm_emojis_tab.atm_emojis_tab_selected { background-color: #e2e2e2}